$primary-color: #5b8c5a; // Replace with your primary color
$secondary-color: #f2a65a; // Replace with your secondary color

// Black, White, and Shades
$black: #000000;
$white: #ffffff;
$off-white: #f8f8f8;
$dark-grey: #333333;
$light-grey: #cccccc;

// Semantic Colors
$error-color: #e74c3c;
$success-color: #2ecc71;
$info-color: #3498db;
$warning-color: #f1c40f;